form{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    font-size: 0.9rem;
}

button, input, textarea{
	display: block;
    font: inherit;
    margin-bottom: 1em;
    padding: 0.6rem 0.9rem;
    border: 1px #eee solid;
    border-radius: .3rem;
}

button{
	color: #fff;
    text-align: center;
    background-color: #159957;
    width: 33%;
}
